<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to "App name</h1>

    <form action="/inputDoc" method="POST">
        <label for='name'>Document Name</label>
        <input type="text" name="document[name]" id="name" placeholder="docuemnt name"> 
        <label for="myfile">Select a file:</label>
        <input type="file" id="myfile" name="document[body]">
        <button>Submit</button>
    </form>
    
</body>
</html>